body{
  padding-top: 20px;
  word-wrap:break-word;

}
img{
  height: 200px;
}

p{
      margin: 0 0 5px;
}

header{
  width: 100%;
  border: 2px solid black;
  color: white;
  font-family: 'Orbitron', sans-serif;
  margin: 0 auto;
  clear: both;
  background-color: #101010;
  height: 75px;
  /* background-color: #04396C; */
}
header h1{
      margin-left: 1%;
      float: left;
}
#profile{
  margin-left: 61%;
  color: white;
  background-color: #11ffee00;
  border: 1px solid white;
}
#feed{
  margin-left: 1%;
  background-color: #AA0C2C;
  border: none;
}
header button:first-of-type, header button:nth-of-type(2n){
  float: left;
  margin-top: 15px;
  height: 50px;
  border-radius: 5px;
}

/* .fillOut{
  width: 35%;
  margin-left: 35%;
}
.fillOut button{
  margin-left: 35%;
}
.fillOut h2{
  margin-left: 25%;
}
.col-sm-6 {
  margin-left: 24%;
}
.col-sm-6 ul{
  list-style: none;
}
.col-sm-6 h3{
  margin-left: 46%;
}
.col-sm-6 p{

} */
/* end of styling for old version of ejs */
/* beginning of styling for the first index page */

.page{
  background-color: black;
}
.container{
  height: 1000px;
  background-image: url('img/background.jpg');
  background-size: cover;
}
.bottomIndex, .topIndex{
  width: 50%;
  /* height: 400px; */
  /* border-radius: 50%; */
  /* border: 2px solid white; */
    background-color: #101010;
    opacity: .9;

  font-family: 'Orbitron', sans-serif;
  margin-left: 25%;
  /* margin: 0 auto; */
}


.bottomIndex{
      /* margin-top: 90px; */
}
.bottomIndex p, .topIndex p{
    margin-left: 40%;
    color: white;
    /* margin-top: 15%; */
}
.bottomIndex a:first-of-type, .topIndex a:first-of-type{
  margin-left: 17%;
}
.bottomIndex a:nth-of-type(2n), .topIndex a:nth-of-type(2n){
  margin-left: 25%;
}
.bottomIndex button, .topIndex button{
  width: 20%;
  height: 125px;
  font-family: 'Orbitron', sans-serif;
  /* background:url('img/syncOne.gif'); */
  background-size: cover;
  background-color: white;
  color: #AA0C2C;
}


/* .front-page{
  width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    float: left;
    border-radius: 150px;
} */


/* login page */

.logForm{
  width: 50%;
  margin-left: 25%;
}
.logForm h1{
      margin-left: 44%;
      color: white;
}
.logForm button{
  margin-left: 39%;
  margin-top: 20px;
  width: 20%;
  height: 125px;
  font-family: 'Orbitron', sans-serif;
  /* background:url('img/syncOne.gif'); */
  background-size: cover;
  background-color: white;
}
.logForm p {
  color: white;
  margin-left: 39%;
}
.form-group label{
  margin-left: 29%;
  color: white;
}
/* test page */
.topProfile h2, .topProfile h4{

  color: black;
}
.topProfile h2{
  margin-left: 45%;
  margin-top: 0%;
}
.topProfile h4{
  margin-left: 46%;
}
.topProfile input{
  margin-left: 43%;
}
.myPosts{
  width: 50%;
margin-left: 25%;
border: 5px;
border-color: #04396C;

}
.myPosts iframe{
  margin-left: 7%;
  padding-top: 20px;
}
.myPosts button{
  margin-left: 43%;
}
.myPosts .remove{
    color: #04396C;
    margin: 0;
}
/* one video page */

.vid{
  width: 45%;
  float: left;
  margin-left: 15%;
}
.tracks{
    width: 25%;
  float: left;
  height: 400px;
  overflow: auto;
}
.tracks button{
  border-radius: 50%;
  margin-left: 41%;
}
