body{
  padding-top: 20px;
  word-wrap:break-word;
  font-size: 10px;
}

img{
  height: 200px;
}

p{
      margin: 0 0 5px;
}

header, footer{
  width: 100%;
  border: 2px solid black;
  color: white;
  font-family: 'Orbitron', sans-serif;
  margin: 0 auto;
  clear: both;
  background-color: #101010;
  height: 75px;
  /* background-color: #04396C; */
}
header h1{
      margin-left: 1%;
      float: left;
      font-size: 1.5rem;
}
#profile{
  margin-left: 61%;
  color: white;
  background-color: #11ffee00;
  border: 1px solid white;
}
#feed{
  margin-left: 1%;
  background-color: #AA0C2C;
  border: none;
}
header button:first-of-type, header button:nth-of-type(2n){
  float: left;
  margin-top: 15px;
  height: 50px;
  border-radius: 5px;
}

/* .fillOut{
  width: 35%;
  margin-left: 35%;
}
.fillOut button{
  margin-left: 35%;
}
.fillOut h2{
  margin-left: 25%;
}
.col-sm-6 {
  margin-left: 24%;
}
.col-sm-6 ul{
  list-style: none;
}
.col-sm-6 h3{
  margin-left: 46%;
}
.col-sm-6 p{

} */
/* end of styling for old version of ejs */
/* beginning of styling for the first index page */

.page{
  background-color: black;
}
.container{
  height: 1000px;
  background-image: url('img/background.jpg');
  background-size: cover;
}
.container .welcome{
  text-align: center;
  color: white;
}
.intro{
  font-family: 'Orbitron', sans-serif;
}
.intro p:first-of-type{
font-size: 2rem;
margin-top: 42px;
}
.intro p:nth-of-type(2n){
  font-size: 1.5rem;
}
.intro p:nth-of-type(3n){
  font-size: 1.5rem;
}
.intro p:nth-of-type(4n){
font-size: 1.2rem;
padding-top: 60px;
}


.bottomIndex, .topIndex{
  width: 50%;
  /* height: 400px; */
  /* border-radius: 50%; */
  /* border: 2px solid white; */
    background-color: #101010;
    opacity: .9;

  font-family: 'Orbitron', sans-serif;
  margin-left: 25%;

  /* margin: 0 auto; */
}

.bottomIndex{
      /* margin-top: 90px; */
margin-top: 5%;
padding-bottom: 30px;
padding-top: 30px;
border-radius: 7px;
}
.bottomIndex p, .topIndex p{
    margin-left: 40%;
    color: white;
    font-size: 1rem;
    /* margin-top: 15%; */
}
.bottomIndex a:first-of-type, .topIndex a:first-of-type{
  margin-left: 17%;
}
.bottomIndex a:nth-of-type(2n), .topIndex a:nth-of-type(2n){
  margin-left: 25%;
}
.bottomIndex button, .topIndex button{
  width: 20%;
  height: 90px;
  font-size: 1.2rem;
  font-family: 'Orbitron', sans-serif;
  /* background:url('img/syncOne.gif'); */
  /* background-size: cover; */
  background-color: white;
  color: #AA0C2C;
  border-radius: 10px;
  font-weight: 400;
}


/* .front-page{
  width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    float: left;
    border-radius: 150px;
} */


/* login page */

.logForm{
  width: 50%;
  margin-left: 25%;
}
.logForm h1{
      margin-left: 44%;
      color: white;
}
.logForm button{
  margin-left: 39%;
  margin-top: 20px;
  width: 20%;
  height: 125px;
  font-family: 'Orbitron', sans-serif;
  /* background:url('img/syncOne.gif'); */
  background-size: cover;
  background-color: white;
}
.logForm p {
  color: white;
  margin-left: 39%;
}
.form-group label{
  margin-left: 29%;
  color: white;
}
/* test page */

.backdrop{
  /* height: 1000px; */
  background: linear-gradient(#AA0C2C, #101010);
  /* background-color: #AA0C2C; */
  /* background-size: cover; */
  /* display: flex; */

}

.topProfile h2, .topProfile h4{

  color: black;
}
.topProfile h2{
  margin-left: 45%;
  margin-top: 0%;
  font-size: 2rem;
  font-family:'Orbitron', sans-serif;
  color: #101010
}
.topProfile h4{
  margin-left: 46%;
}
.topProfile input{
  margin-left: 41%;
  height: 26px;
  border-radius: 5px;
  margin-right: .5%;
}
.topProfile button{
  background-color: #101010;
  border: none;
  height: 50px;
  border-radius: 5px;
  color: white;
}
.myPosts{
  width: 50%;
margin-left: 25%;
border: 5px;
border-color: #04396C;
padding-bottom: 50px;
}
.myPosts iframe{
  margin-left: 7%;
  padding-top: 20px;
}
.myPosts button{
  margin-left: 43%;
    background-color: #AA0C2C;
    border: none;
  margin-top: 15px;
  height: 50px;
  border-radius: 5px;
}
.myPosts .remove{
    background-color: #101010;
    color: white;
    font-size: 1rem;
    margin: 0;
}
/* one video page */
.vid, .tracks{
  margin-top: 25px;
}
.vid{
  width: 45%;
  float: left;
  margin-left: 15%;
}
.tracks{
    width: 25%;
  float: left;
  height: 400px;
  overflow: auto;
  padding-right: 2%;
}
.tracks button{
  border-radius: 50%;
  margin-left: 41%;
  background-color: #101010;
  border: none;


}
